@charset "UTF-8";
@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 400;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}
body {
	font-family: 'NanumBarunGothic';
	text-align:center;
	margin:0px auto;
	width: 100%;
	min-height: 100%;
	display:grid;
	grid-template-columns: 1fr 100px 1000px 100px 1fr;
	grid-template-rows: 160px 20px 50px minmax(400px, auto) 150px;
	grid-template-areas:
		"header header header header header"
		". line   line   line  ."
		". .      .      .     ."
		". left   mid    right ."
		"footer footer footer footer footer"
		;
}

.left {
	grid-area: left;
	text-align: left;
}

.right {
	grid-area: right;
	text-align: right;
}

.mid {
	grid-area: mid;
	text-align: center;
}

.alignleft{text-align: left;}
.alignright{text-align: right;}
	
.header a {
	text-decoration: none;
	color: black;
}

.header a:hover {
	color: rgb(243,114,62);
}

.header {
	grid-area: header;
	justify-items: stretch;
	margin:0px auto;
	width:100%;
	display:grid;
	align-items:center;
	grid-template-columns: 35fr 55fr 30fr;
	grid-template-rows: 30px 100px 30px 20px;
	grid-template-areas:
		"login  login  login "
		"logo  search  mypage"
		"nav   nav     report"
		"line  line    line  "
		;
}
.header .logo {grid-area: logo;}
.header .logo img {
	height: 80px;
	width: 250px;
	object-fit: cover;}
.header .login {
	margin:0px 0px;
	grid-area: login;
	justify-self:right;
	font-size: 15px;
	padding-right: 35px;}
.header .mypage {
	margin: 0px 0px;
	grid-area: mypage;
	justify-self:right;
	font-size: 15px;
	padding-right: 50px;}
.header .search {
	grid-area: search;
	justify-self:left;
	font-size: 15px;}
.header .report {
	grid-area: report;
	font-size: 15px;}
.header .nav {
	grid-area: nav;
	font-size: 15px;
}
.header ul {
	display:inline; 
}
.header ul li {
	display:inline; 
	margin: 10px;
}
.header .line {
	width:100%;
	grid-area: line;
}

.footer {
	background-color: rgb(243,114,62);
	grid-area: footer;
}

.footer a {
	text-decoration: none;
	color: black;
}

.footer a:hover {
	text-decoration: underline;
	color: rgb(243,114,62);
}


.footer nav.nav li {
	display:inline; 
	margin: 10px;
}

.footer div {
	text-align: right;
}


